@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'Orbitron';
	src: url("Fonts/Orbitron-Regular.ttf") format('truetype');
	font-weight: 300;
}

@font-face{
	font-family: 'Orbitron';
	src: url("Fonts/Orbitron-Medium.ttf") format('truetype');
	font-weight: 400;
}
@font-face{
	font-family: 'Orbitron';
	src: url("Fonts/Orbitron-Bold.ttf") format('truetype');
	font-weight: 700;
}