@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #907b05;
	font-family: 'Orbitron', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-margin-top: 120px;
}


/*.........................Allgemein */

h1{
	margin-bottom: 20px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
h2{
	padding-bottom: 40px;
	font-weight: 400;
	font-size: 25px;
	color: #212121;
}

h3{
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;	
}

h4{
	font-size: 20px;
	margin-bottom: 20px;
	color: hsla(0,5%,25%,1.00);
}
h5{
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

p{
	line-height: 2.0em;
	font-weight: 400;
	font-size: 12pt;
	text-align: justify;
	color: hsla(0,5%,25%,1.00);
}
p:last-child{
	margin-bottom: 0;
}


/* ..........................Gridsystem */
.row{
	display: flex;
	padding: 0;
	justify-content: center;
}
.row + .row{
	margin-top: 60px;
}
.full{
	margin: 0 -15px;
}
.medium{
	padding: 0 25px;
}
.medium-2{
	padding: 0 40px;
}
.small{
	padding: 0 25px;
	max-width: 1200px;
	margin: auto;
}
.col-12{
	width: 100%;
	padding: 0 15px;
}
.col-6{
	width: 50%;
	padding: 0 15px;
}
.col-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-3{
	width: 25%;
	padding: 0 15px;
}

/* ...........................header */
header{
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	box-shadow:  0 0 40px #00000022;
	padding: 20px;
	background-color: hsla(0,0%,79%,1.00)
}

header img{
	width: 20%;
}
header nav ul{
	display: flex;
	list-style: none;
}
header nav ul li{
	margin: 40px 0 0 40px;
	text-transform: uppercase;
    position: relative;
}
header nav ul li a{
	font-size: 18px; 
}
header nav ul li a:hover{
	color: #212121;
}

.active{
	font-weight: 700;
}
.button{
	color: white;
	border: 1px solid hsla(51,93%,29%,0.5);
	background-color: hsla(51,93%,29%,0.5);
	border-radius: 8px;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 20px;
	transition: 0.3s;
	font-weight: 700;
}
.button:hover{
	color: #907b05;
	background-color: white;
	transform: scale(1.1);
	border-color: hsla(51,93%,29%,0.5);
}

/* ........................submenu */
header nav ul li .submenu{
	position: absolute;
	display: block;
	padding-top: 37px;
	padding-right: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.35s;
    min-width: 250px;
	
}

header nav ul li .submenu li{
	position: relative;
	padding: 15px;
	margin: 0;
	background-color: white;
	border-bottom: 1px solid hsla(51,93%,29%,1.0);
}
header nav ul li .submenu li a{
	font-size: 18px;
	text-transform: none;
}
header nav ul li:hover .submenu{
	opacity: 1;
	visibility: visible;
}

header nav ul li:hover .submenu li:hover .submenu{
	opacity: 1;
	visibility: visible;
}
header nav ul li .submenu li .submenu{
	position: absolute;
    right: 100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.35s;
	min-width: 250px;
}
header nav ul li:last-child .submenu {
  right: 0;
  left: auto;
}

/* ..........................titelbild*/
#titelbild{
	padding: 200px 0;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.tb-1{
	background-image: url("Bilder/Titelbild.jpg");
    background-position-y: 50px;
}
#titelbild-2{
	padding: 200px 0;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.tb-2{
	background-image: url("Bilder/titelbild-2.jpg");
	background-position-y: 0px;
}
#titelbild-3{
	padding: 200px 0;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.tb-3{
	background-image: url("Bilder/Titelbild-3.jpg");
	background-position-y: 0px;
}

/* ..........................main*/	
main{
	overflow: hidden;
}

main img{
	width: 100%;
}
.abstand{
	padding: 70px 0;
}
.zentriert{
	text-align: center;
}
.box{
	display: block;
	align-items: center;
	padding: 0 20px;	
}
.schwarz{
	background-color: #212121;
}

.gold{
	background-color: hsla(51,93%,29%,0.3);
}
#blog h3{
	color: white;
	text-shadow: 2px 1px 0 hsla(0,5%,25%,1.00);
}
#blog h4{
	
}
#blog img{
	margin-bottom: 30px;
	border: 5px solid hsla(0,0%,100%,1.00);
}
#blog p{
	margin: 0 20px;
	color: hsla(0,5%,25%,1.00);
	text-align: center;
}

.btn{
	border: 2px solid #FDFDFD;
	border-style: groove;
	text-transform: uppercase;
	padding:10px 30px;
	display: inline-block;
	background-color: white;	
	margin-top: 20px;
	font-size: 10pt;
	transition: 0.4s;
	border-radius: 8px;
}
.btn:hover{
	background-color: hsla(51,93%,29%,0.5);
	border-color: hsla(51,93%,29%,0.5);
	color: white;
	border-style:none;
	transform: scale(1.2);
}

.form input{
	width: 48%; 
	font-size: 15px;
	border: 1px solid #907b05;
	border-radius: 5px;
	padding: 10px;
}
.form .button{
	background-color: #907b05;
	border-color: #907b05;
	color: white;
	width: 20%; 
	margin-left: 20px;
}


/* ..........................Kontakt*/
.formular form{
	
	justify-content: space-between;
	box-shadow: 0 0 40px #00000011;
	padding: 40px;
	border-radius: 40px;
	
}
.formular input{
	width: 48%;
	font-size: 15px;
	margin-bottom: 4%;
	padding: 20px;
	font-weight: 300;
	border: 1px solid  #eee;
	background-color: #fcfcfc;
}
.formular textarea{
	width: 97%;
	font-size: 15px;
	margin-bottom: 4%;
	padding: 20px;
	font-weight: 300;
	border: 1px solid  #eee;
	background-color: #fcfcfc;
}
.formular .button{
	background-color: #907b05;
	border-color: #907b05;
	color: white;
	padding: 12px;
}
/* ..........................footer*/
.footerbereich{
	padding: 30px 20px;
}
.footerbereich h3{
	font-size: 14pt;
}

footer img{
	width: 050%;
	
}
footer p{
	margin-bottom: 20px;
	color: #907b05;
}
footer nav ul li{
	list-style: none;
	padding: 5px 15px;
	text-transform: uppercase;
}
footer nav ul li a:hover{
	color: #212121;
	font-weight: 700;
}
#rechtliches{
	font-size: 10pt;
	padding: 20px 0;
	background-color: #4C4C4C;
}
#rechtliches nav ul{
	display: flex;
	justify-content: center;
}

#rechtliches nav ul li a{
	color: white;
	transition: 0.35s;
}
#rechtliches nav ul li a:hover{
	color: #907b05;
}
.f-btn:hover{
	color: #212121;
	font-weight: 700;
}
/* ..................datenschutz*/
.datenschutz ul li{
	margin-left: 40px;
	margin-bottom: 20px;
	padding-left: 15px;
	font-size: 12pt;
	font-weight: 400;
	color: #212121;
	line-height: 2.0em;
}
.datenschutz p{
	margin-bottom: 20px;
}
#impressum{
	padding: 200px 0;
}
#impressum nav ul{
	
	list-style: none;
	margin-bottom: 40px;
}
#impressum nav ul li{
	margin-bottom: 10px;
	color: #212121;
}
/* ...................social-media*/
#socialmedia ul{
	list-style: none;
  	padding-left: 100px;
}

#socialmedia nav ul li{
	margin: 15px 0;
	
}
#socialmedia nav ul li a{
	display: flex;
  	align-items: center;
  	font-size: 18px;
  	text-decoration: none;
	transition: 0.35s;
}
#socialmedia nav ul li a i{
	font-size: 30px;
	margin-right: 12px;
	width: 30px;
	transition: 0.35s;
}
#socialmedia nav ul li a:hover{
	color: #212121;
}
#socialmedia nav ul li a i:hover{
	color: #212121;
}
/* ......................scroll-to-top*/

#scroll-to-top{
	font-size: 30px;
	right: 20px;
	bottom: 20px;
	position: fixed;
	background-color: white;
	padding: 10px 15px;
	color: #212121;
	transition: 0.35s;
	border-radius: 15px;
	box-shadow: 0 0 40px #00000022;

}

#scroll-to-top:hover{
	color: white;
	background-color:  hsla(51,93%,29%,0.5);
	transform: scale(1.2);
	cursor: pointer;
	border-color:  #907b05;
}

/* ......................Responsive Design*/

@media (max-width: 900px) {
  
/* ..................Header*/
  	header {
    	align-items: center;
		
  	}
	
  	header nav ul li {
    	margin-right: 20px;

  	}
	header nav ul li a{
		font-size: 15px;
	}

  	header img {
    	max-width: 150px;
  	}
	/* ................submenu*/
	.submenu{
		display: none;
		position: static;
	}	

/* ..................allgemein*/
	
	h1 {
		font-size: 25px;
	}
	h2{
		font-size: 20px;
	}
	p{
		color: #907b05;
		
	}
	.button{

		font-size: 12px;
	}
	
	
	/* ................Gridsystem*/
	.row{
		flex-direction: column;
		align-items: center;
	}
	.col-6 {
    	width: 100%;
    	margin-bottom: 40px;
	   
  	}
	
  	.col-4 {
    	width: 80%;
    	margin-bottom: 40px;
	}
	.col-3{
		width: 50%;
		margin-bottom: 40px;
	}

}




